#sign-up{
  background-image: url('../../../assets/carouselbg.jpg');
  background-size: cover;
  /* opacity: 0.7; */
  height: 100%;
  margin-top: 4rem;
}

label{
  font-size: .9rem;
}

nav a, nav .nav-item{
  color: white;
}
#home-container {
  margin-top: 5rem;

}

nav a, nav .nav-item, .navbar-brand:hover{
  color: white;
}

/* Carousel Background */
#introCarousel{
  /* background-image: url('https://picsum.photos/200/300/?blur'); */
  background-image: url('../../../assets/carouselbg.jpg');
  /* ?blur for blurred */
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  color: white;
}

/* Carousel Indicators */
.carousel-indicators > li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
}

/* Carousel Icon Buttons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color:black;
}

#info-container{
  margin-top: 2vh; 
}

.info-description{
  font-size: .9rem;
}

.info-blocks{
  margin-bottom: 30vh;
}

.block{
  background-color: steelblue;
  color: white;
  text-align: center;
  height: 15vh; 
  border: solid 1px white;
}


.block-text-hidden{
  color: white;
  /* display: none; */
  visibility: hidden;
}

.block:hover{
  background-color: whitesmoke;
  height: 25vh;
  transition: all 2s ease;
  color: black;
}

.block:hover .block-text-hidden{
  color: black;
  /* display: block; */
  visibility: visible;
  transition: all 2s ease;
}

footer{
  background-color: rgb(236, 234, 234);
}

.feature-box{
  transition: background-color 1s;
}

.feature-box-bottom{
  background-color: steelblue;
  color: black;
  height: 5%;
  transition: height 3s;
}

.feature-box:hover{
  /* background-color: steelblue; */
  height: 100%;
  /* animation-name: fadeIn;
  animation-duration: 3s; */
}

.row{
  margin-left:0px;
  margin-right:0px;
}

#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%
}

#sidebar-wrapper {
  margin-left: -150px;
  left: 70px;
  width: 200px;
  background: #222;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
}

.sidebar-nav {
  display: block;
  float: left;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}
#wrapper.active {
  padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
  left: 150px;
  margin-top:60px;
}

#page-content-wrapper {
width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
  color: #999;
  display: block;
  float: left;
  text-decoration: none;
  width: 200px;
  background: #252525;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1A1A1A;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}
.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7;
}

.sidebar-nav li {
line-height: 40px;
text-indent: 20px;
}

.sidebar-nav li a {
color: #999999;
display: block;
text-decoration: none;
}

.sidebar-nav li a:hover {
color: #fff;
background: rgba(255,255,255,0.2);
text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
height: 65px;
line-height: 60px;
font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
color: #fff;
background: none;
}

#main_icon
{
  float:right;
 padding-right: 65px;
 padding-top:20px;
}
.sub_icon
{
  float:right;
 padding-right: 65px;
 padding-top:10px;
}
.content-header {
height: 65px;
line-height: 65px;
}

.content-header h1 {
margin: 0;
margin-left: 20px;
line-height: 65px;
display: inline-block;
}
.dropdown {
margin-top: 30px;
}

@media (max-width:767px) {
  #wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
}
#sidebar-wrapper {
  left: 70px;
}
#wrapper.active {
  padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
  left: 150px;
  width: 200px;
  transition: all .4s ease 0s;
}
}


