@import "~ng-pick-datetime/assets/style/picker.min.css";
/* You can add global styles to this file, and also import other style files */
.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

nav {
  background-color: steelblue;
}

.navbar-brand{
  font-size: 1.5rem;
}

/* Sign Up and Login Form Cards */
.auth-form{
  background-color: whitesmoke;
  opacity: 0.9;
  margin-top: 3rem;
}

/* Auth Form Buttons */
button.auth{
  margin: 1rem 0px;
}

/* Body and Content for User Pages */
.user-pages-body{
margin-top: 4rem;
background-color: whitesmoke;
height: 100vh
}
 
.user-pages-content{
  background: white;
}

/* Logout Nav Link */
.logout{
  background-color: steelblue;
  border: 0px;
  cursor: pointer;
  opacity: 1.0;
}

/* Disabled Logout Link For New-Visit*/
.logout-new-visit{
  opacity: 0.3;
  color: black !important;
  background-color: steelblue;
  border: 0px;
}

.logout:hover{
  color: black !important;
}

/* Form Inputs */
.form-control{
  /* width: 80%; */
}

.form{
  height: 75vh;
  overflow: scroll;
  ;
}