  <div id="sign-up" class="container-fluid">
  
  <div class="container">
  <div class="row">
  <div class="card col-lg-8 ml-auto auth-form">
    <div class="card-body">
  
  <h3 class="text-center">Edit Patient</h3>
  
  <p *ngIf="errorMessage" class="error alert alert-danger" role="alert">
    <i class="fa fa-exclamation-circle"></i>
    {{ errorMessage }}
  </p>

      <form name='frm'>
        <div>
          
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" [(ngModel)]="patientInfo.name.firstName" class="form-control" placeholder="First Name">
          
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" [(ngModel)]="patientInfo.name.lastName" class="form-control" placeholder="Last Name">
          
          <label for="email">Email</label>
          <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span class="fa fa-user" aria-hidden="true"></span>
                </div>
              </div>
          <input type="text" name="email" [(ngModel)]="patientInfo.email" class="form-control" placeholder="Email">
          </div>
        
          <label for="mobile">Mobile No</label>
          <input type="text" name="mobile" [(ngModel)]="patientInfo.mobile_number" class="form-control" placeholder="Mobile Number">
          
          <label for="address">Address</label>
          <input type="text" name="address" [(ngModel)]="patientInfo.address" class="form-control" placeholder="Address">
          
          <label for="age">Age</label>
          <input type="text" name="age" [(ngModel)]="patientInfo.age" class="form-control" placeholder="Age">
          
          <h5>Select Gender</h5>
          <select [(ngModel)]="patientInfo.gender" name="role-menu">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          
        </div>
        
      
      <button class="btn btn-success btn-block auth" type="submit" (click)=editPatient()>Edit</button>
      </form>
  <div class="row">
    <div class="col-12 text-center">
      <p>Cancel and go back?
        <a [routerLink]="['/patient']">Back</a>
      </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>