<div id="view-patients" class="container-fluid">
  
    <div class="container">
    <div class="row">
    <div class="card col-lg-8 ml-auto auth-form">
      <div class="card-body">
    
    <h3 class="text-center">View Appointments</h3>
    
  <form name='frm'>
    <div>
      <label for="email">Email</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <span class="fa fa-user" aria-hidden="true"></span>
          </div>
        </div>
      <input type="text" name="email" [(ngModel)]="email" class="form-control" placeholder="Email" (change)=getMyAppointments()>
      </div>

      <table class="table">
          <thead>
        <tr>
          <th></th>
          <th>Email</th>
          <th>Test Name</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments let i=index" class="active">
        <td>{{i+1}}</td>
        <td>{{appointment.email}}</td>
        <td>{{appointment.test_name}}</td>
        <td>{{date[i]}}</td>
        <td>{{time[i]}}</td>
        </tr>
      </tbody>
      </table>
      
      <div>
          <div class="column small-12 large-2">
            <label class="sbw_light">Select Test Name:</label><br />
            <select id="selectTest" class="form-control" name="test_name" [(ngModel)]="test_name">
              <option *ngFor="let test of tests let i=index" class="active" value="test.test_name">{{test.test_name}}</option>
            </select>
          </div>
      </div>
      <div>
        <button class="btn btn-success btn-block auth" type="button" (click)=confirmAppointment()>Confirm Appointment</button>
      </div>
    </div>
  </form>
    
</div>
</div>
</div>
</div>
</div>