<nav class="navbar fixed-top navbar-expand-sm navbar-light shadow">
  <a class="navbar-brand" [routerLink]="['/']"><b><i>EasyMed</i></b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" [routerLink]="['/signup']">Sign Up</a>
          <a class="nav-item nav-link" [routerLink]="['/login']">Login</a>
      </div>
  </div>
</nav>


<div id="home-container" class="container-fluid">
    <!-- Carousel -->
    <div class="carousel-bg">
    <div id="introCarousel" class="carousel slide shadow" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#introCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#introCarousel" data-slide-to="1"></li>
            <li data-target="#introCarousel" data-slide-to="2"></li>
          </ol>
      
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="text-center col-12 col-md-6 offset-md-3">
                  <h1>EasyMed Is Your One Stop Shop For EHR</h1>
                  <!-- <a class="btn btn-primary" role="button" aria-pressed="true" [routerLink]="['/signup']">Sign Up</a> -->
                </div>  
              </div>
              <div class="carousel-item">
                <div class="text-center col-12">
                  <h1>Improve Your Office Flow</h1>
                </div>
              </div>
              <div class="carousel-item">
                  <div class="text-center col-12">
                    <h1>Use On All Of Your Devices</h1>
                  </div>  
              </div>
        </div>
        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
          <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <section id="info-container" class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          <h5>Welcome To EasyMed</h5>
          <hr>
          <p class="info-description text-justify">EasyMed offers solutions for electronic health records (EHR), practice management and more.
           EasyMed EHR solutions are suitable for ambulatory practices of all sizes, and enable users to coordinate patient care while complying with health care reform demands such as the Merit-based Incentive Payment System (MIPS), population health and other value-based care requirements.
            EasyMed EHR is built for single doctors and delivers a scalable system that helps users achieve interoperability, patient engagement, regulatory compliance and value-based care delivery.
        </div>
      </div>
      <div class="row info-blocks">
        <div class="col-12 col-sm-6 col-md-3 block shadow">
          <i class="fa fa-check-circle"></i>
          <h3>Med Records</h3>
          <div class="block-text-hidden">
            <p>HIPAA Compliant</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 block shadow">
            <i class="fa fa-check-circle"></i>
            <h3>User-Friendly</h3>
            <div class="block-text-hidden">
              <p>Simple to use user interface for efficient office flow. Use on all of your devices.</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 block shadow">
              <i class="fa fa-check-circle"></i>
              <h3>Cloud</h3>
              <div class="block-text-hidden">
                <p>Stores all patient and doctor data in the cloud.</p>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 block shadow">
                <i class="fa fa-check-circle"></i>
                <h3>Value</h3>
                <div class="block-text-hidden">
                  <p>Reasonable monthly fees with support included.</p>
                </div>
            </div>
      </div>
    </section>
    
    <footer class="container-fluid">
    </footer>


    <!-- <div class='row'>
        <div class='col-12 col-md-6 push-md-6'>LOGO</div>
        <div class='col-12 col-md-6 push-md-6'>DETAILS</div>
     </div>
    
    <div class="jumbotron">
      <h1>Welcome</h1>
      <h2>Angular & Bootstrap Demo</h2>
    </div>
    <div class="card card-primary">
      <div class="card-header">Status</div>
      <div class="card-block">
        <h3>app-works</h3>
      </div>
    </div>
  </div>   -->
 

  <!-- <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="feature-box text-center">
          <div class="feature-top">
            <h6>Icon Here</h6>
            <h3>Text Here</h3>
          </div>
          <div class="feature-bottom">
              <h6>Icon 2 Here</h6>
              <h3>Text 2 Here</h3>
          </div>
        </div>
      </div>
    </div> -->