<div id="sign-up" class="container-fluid">
  
    <div class="container">
    <div class="row">
    <div class="card col-lg-8 ml-auto auth-form">
      <div class="card-body">
    
    <h3 class="text-center">Change password</h3>
    
    <p *ngIf="errorMessage" class="error alert alert-danger" role="alert">
      <i class="fa fa-exclamation-circle"></i>
      {{ errorMessage }}
    </p>
  
        <form name='frm'>
          <div>
            
            <label for="password">Enter Password</label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                  </div>
                </div>
                <input type="password" name="password" [(ngModel)]="password_1" class="form-control" placeholder="Password">
            </div>
            <label for="password">Re-enter Password</label>
            <div class="input-group">
                <div class="input-group-prepend">
                <div class="input-group-text">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                </div>
                </div>
            <input type="password" name="password" [(ngModel)]="password_2" class="form-control" placeholder="Password">
                </div>
            
          </div>
          
        
        <button class="btn btn-success btn-block auth" type="submit" (click)=changePassword()>Change Password</button>
        </form>
    <div class="row">
      <div class="col-12 text-center">
        <p>Cancel and go back?
          <a [routerLink]="['/patient']">Back</a>
        </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>